.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    color: var(--color-text);
}

.pagination-controls button {
    margin-left: 0.5rem;
}